name: Download Debs 24.04

on:
  workflow_dispatch:

jobs:
  download-deps:
    runs-on: ubuntu-24.04  # 指定使用 24.04 环境
    steps:
    - name: Download Dependencies
      run: |
        mkdir -p offline_packages
        sudo apt-get update
        # 显式下载 g++，确保它被包含
        sudo apt-get install -y --download-only --reinstall -o Dir::Cache::archives=$(pwd)/offline_packages \
        build-essential g++ cmake git
        sudo chmod -R 777 offline_packages

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ubuntu-24.04-deps
        path: offline_packages/*.deb