name: Download Darknet Ultimate Deps (24.04)

on: workflow_dispatch

jobs:
  download-full-deps:
    runs-on: ubuntu-latest
    steps:
    - name: Download in Clean Docker
      run: |
        mkdir offline_debs
        
        # 使用纯净的 Ubuntu 24.04 容器
        # 这样能强制下载所有的底层依赖，绝不会漏包
        docker run --rm -v $(pwd)/offline_debs:/output ubuntu:24.04 bash -c "\
          apt-get update && \
          apt-get install -y --download-only \
          \
          build-essential \
          git \
          cmake \
          g++ \
          dpkg-dev \
          \
          libopencv-dev \
          \
          libopenblas64-0 \
          libopenblas64-0-openmp \
          libopenblas64-openmp-dev \
          \
          libprotobuf-dev \
          protobuf-compiler \
          \
          && cp /var/cache/apt/archives/*.deb /output/"

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: darknet-full-deps-24.04
        path: offline_debs/*.deb